body {
  padding: 50px 0;
  background-color: #222;
}
h1 {
  text-align: center;
  margin-bottom: 18px;
  color: #fff;
  text-transform: uppercase;
}
h2{
margin:0px;


}
header {
  margin-bottom: 20px;
  text-align: center;
}
header img {
  max-width: 120px;
}

.content .table {
  margin-bottom: 0;
}
.content .table td, .content .table th {
  vertical-align: middle;
}
.content .table .mRight {
  margin-right: 20px;
}

.content .row .currency-flag {
  background: url('') no-repeat left center;
  background-size: 30px auto;
}
.content .row-select-currency {
  text-align: center;
}
@media (min-width: 768px) {
  .inputValue {
    position: relative;
    padding-left: 20px;
 }

  .content .currency-to-input {
    padding-left: 20px;
 }
}
.message {
  text-align: center;
}
.message:only-child {
  margin: 0;
}
.btn-sm {
  margin-right: 8px;
}
.form-inline {
  margin: 10px auto;
  width: 235px;
}
.form-inline .btn-default {
  margin-left: 5px;
}
.credits {
  text-align: center;
  color: #fff;
  padding: 70px;
  opacity: 0.2;
  transition: opacity 0.3s linear;
}
.credits:hover {
  opacity: 1;
}
.credits a {
  color: #fff;
}

.currencySelect{
  font-size: 1.3em;
  border: 0px;
  outline: 0px;
  background-color: #598154;
  color: rgb(26, 24, 24);
  font-family: 'Roboto', sans-serif;
}
.valInput{
  border-style: inset;
    border-color: #b7d5d4;
    border-width: 1px;
    outline: 0px;
    font-size: 1.2em;
    background-color: #eeeeee;
    width: 100%;
}
.formInput{
  display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #598154;
    padding: 0.3em;
}
.formInput:hover .currencySelect {background-color: #476942;}

.content {
  width: 500px;
  text-align: left;
  background-color: #353535;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
#container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3{
  margin-bottom: 8px;
  margin-top: 20px;
  font-size: 13px;
  color: rgb(134, 134, 134);
  font-family: 'Roboto', sans-serif;

}