body {
  padding: 50px 0;
  background-color: #222;
}
h1 {
  text-align: center;
  margin-bottom: 18px;
  color: #fff;
  text-transform: uppercase;
}
header {
  margin-bottom: 10px;
  text-align: center;
}
header img {
  max-width: 120px;
}

@media (min-width: 768px) {
  .inputValue {
    position: relative;
    padding-left: 20px;
 }
}

.currencySelect{
  font-size: 1.3em;
  border: 0px;
  outline: 0px;
  background-color: #598154;
  color: rgb(26, 24, 24);
  font-family: 'Roboto', sans-serif;
}
.valInput{
  border-style: inset;
    border-color: #b7d5d4;
    border-width: 1px;
    outline: 0px;
    font-size: 1.2em;
    background-color: #eeeeee;
    width: 100%;
}
.formInput{
  display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #598154;
    padding: 0.3em;
    border-radius: 5px;
    
}
.formInput:hover .currencySelect {background-color: #476942;}

.content {
  width: 500px;
  text-align: left;
  background-color: #353535;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;
}
#container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3{
  font-size: 13px;
  color: rgb(134, 134, 134);
  font-family: 'Roboto', sans-serif;

}
@media screen and (max-width: 600px) {
  
  
  .content {
      width: 80%;
      align-items: center;
      margin-right:10px;
  }
}
p{
  font-size: 15px;
  color: rgb(207, 207, 207);
  font-family: 'Roboto', sans-serif;
}